body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color:#FF6600;
  background-size: cover;
}

header{
  height: 65px;
  width: 100%;
  background-color:white;
  top: 0;
  z-index: 10;
}

.header-left{
  float: left;
  margin-top: 15px;
}

.logo{
  font-size: 25px;
  color: #FF6600;
}

.header-right{
  float: right;
  margin: 20px;
}

.header-right a{
}

.header-link {
  margin:0px 40px;
  color: #FF6600;
}

.header-contact{
  background-color: #FF6600;
  padding: 0px 40px;
  color: white;
  border-radius: 5px;
}

.top{
  text-align: center;
}

.top-item{
  display: inline-block;
  margin:0px 100px;
}

.top-item img {
  width: 300px;
  height: 300px;
}

.about-me{
  float: right;
  background-color: white;
  padding: 0px 15px;
  border-radius: 5px;
}

.about-me a{
  color: #FF6600;
}

.heading{
  text-align: center;
}

.achievements-top{
  background-color: white;
}
